html {
  font-size: calc(100vw / 1440 * 16);
}

@media (max-width: 1023px) {
  html {
    font-size: calc(100vw / 1024 * 16);
  }
}

@media (max-width: 779px) {
  html {
    font-size: calc(100vw / 684 * 16);
  }
}

@media (max-width: 767px) {
  html {
    font-size: calc(100vw / 684 * 16);
  }
}

@media (max-width: 639px) {
  html {
    font-size: calc(100vw / 512 * 16);
  }
}
@media (max-width: 479px) {
  html {
    font-size: calc(100vw / 414 * 16);
  }
}

:root {
  --theme: #4044ed;
  --btn-color: #93dfff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* use theme */
.dark-theme {
  --theme: #121212;
  --btn-color: #334E68;
}

.light-theme {
  --theme: #ffffff;
  --btn-color: #646cff;
}

body {
  margin: 0;
  padding: 0;
}

